.tease {
  text-align: center;
  margin: $spacing-unit*3 $spacing-unit*3 0;
  font-size: 1.8rem;
  line-height: 1.2;
}

.breathe {
  margin: 0 auto; 
  width: 300px; 
  height: 300px;
}



// remember to add @include to media-queries.scss

@mixin teaser--md() {
  .tease {
    margin-top: 20%;
    font-size: 2rem;
  }
  .breathe {
    width: 320px; 
    height: 320px;
  }
  #mc_embed_signup {
    bottom: 96px;
  }
}